<section class="py-20">
    <div class="container mx-auto px-4 mb-16">
      <div class="bg-green-200 relative mb-6 flex">
        <div class="absolute left-8 -top-20 w-80 h-80">
          <div class="w-full h-full rounded-full"></div>
        </div>
        <div class="bg-emerald-400 p-8 rounded-3xl w-full flex flex-col items-end">
          <div class="w-1/2"></div>
          <div class="w-1/2">
            <h2 class="text-5xl font-bold mb-4">Contact - Us</h2>
            <p class="mb-4">Please feel free to contact us for emergency case.</p>
            <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy a type specimen book.</p>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-