<section class="py-20">
  <div class="container mx-auto px-4">
    <h2 class="text-5xl text-[#00593D] font-bold mb-12">Testimonials</h2>
    <div class="grid grid-cols-3 gap-8 m-20">
      <div
        class="bg-white p-10 rounded-lg shadow-md border border-b-4 flex flex-col items-center gap-5 m-10"
      >
        <img
          src="assets/Testimonials1.png"
          alt="Patient"
          class="w-20 h-20 rounded-full mr-4"
        />
        <p>
          Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis
          libero at tempus, blandit posuere ligula varius congue cursus porta
          feugiat
        </p>
        <img src="assets/Testimonials-star.png" alt="Rating" />
      </div>
      <div
        class="bg-white p-10 rounded-lg shadow-md border border-b-4 flex flex-col items-center gap-5 m-10"
      >
        <img
          src="assets/Testimonials2.png"
          alt="Patient"
          class="w-20 h-20 rounded-full mr-4"
        />
        <p>
          Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis
          libero at tempus, blandit posuere ligula varius congue cursus porta
          feugiat
        </p>
        <img src="assets/Testimonials-star.png" alt="Rating" />
      </div>
      <div
        class="bg-white p-10 rounded-lg shadow-md border border-b-4 flex flex-col items-center gap-5 m-10"
      >
        <img
          src="assets/Testimonials3.png"
          alt="Patient"
          class="w-20 h-20 rounded-full mr-4"
        />
        <p>
          Aliquam a augue suscipit, luctus neque purus ipsum neque dolor primis
          libero at tempus, blandit posuere ligula varius congue cursus porta
          feugiat
        </p>
        <img src="assets/Testimonials-star.png" alt="Rating" />
      </div>
    </div>
  </div>
</section>
